<ul class="ultima-menu ultima-main-menu clearfix" root="true" visible="true">
    <!---->
    <!---->
    <li>
        <!---->

        <!---->
        <a class="ripplelink" routerlinkactive="active-menuitem-routerlink" href="#/">
            <i class="material-icons">dashboard</i>
            <span>Dashboard</span>
            <!---->
        </a>
        <!---->
    </li>

    <!---->
    <li class="">
        <!---->
        <a class="ripplelink" href="#">
            <i class="material-icons">palette</i>
            <span>Themes</span><span class="ink ripple-animate" style="height: 250px; width: 250px; top: -106px; left: -31.6563px; pointer-events: none;"></span>
            <!----><i class="material-icons">keyboard_arrow_down</i>
        </a>

        <!---->
        <!---->
        <ul class="" style="height: 0px;">
            <!---->
            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">brush</i>
                    <span>Indigo - Pink</span><span class="ink ripple-animate" style="height: 250px; width: 250px; top: -98px; left: -32.6563px; pointer-events: none;"></span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">brush</i>
                    <span>Brown - Green</span><span class="ink ripple-animate" style="height: 250px; width: 250px; top: -104px; left: -35.6563px; pointer-events: none;"></span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">brush</i>
                    <span>Blue - Amber</span><span class="ink ripple-animate" style="height: 250px; width: 250px; top: -100px; left: -28.6563px; pointer-events: none;"></span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">brush</i>
                    <span>Blue Grey - Green</span><span class="ink ripple-animate" style="height: 250px; width: 250px; top: -112px; left: -32.6563px; pointer-events: none;"></span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">brush</i>
                    <span>Dark - Blue</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">brush</i>
                    <span>Dark - Green</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">brush</i>
                    <span>Green - Yellow</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">brush</i>
                    <span>Purple - Cyan</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">brush</i>
                    <span>Purple - Amber</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">brush</i>
                    <span>Teal - Lime</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">brush</i>
                    <span>Cyan - Amber</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">brush</i>
                    <span>Grey - Deep Orange</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

        </ul>
    </li>

    <!---->
    <li class="">
        <!---->
        <a class="ripplelink" href="#">
            <i class="material-icons">settings_application</i>
            <span>Customization</span><span class="ink ripple-animate" style="height: 250px; width: 250px; top: -110px; left: 7.67188px; pointer-events: none;"></span>
            <!----><i class="material-icons">keyboard_arrow_down</i>
        </a>

        <!---->
        <!---->
        <ul class="" style="height: 0px;">
            <!---->
            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">fiber_manual_record</i>
                    <span>Compact Size</span><span class="ink ripple-animate" style="height: 250px; width: 250px; top: -86px; left: -69.8906px; pointer-events: none;"></span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">fiber_smart_record</i>
                    <span>Material Size</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">menu</i>
                    <span>Static Menu</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">exit_to_app</i>
                    <span>Overlay Menu</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">border_horizontal</i>
                    <span>Horizontal Menu</span><span class="ink ripple-animate" style="height: 250px; width: 250px; top: -105px; left: -12px; pointer-events: none;"></span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">label_outline</i>
                    <span>Light Menu</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">label</i>
                    <span>Dark Menu</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">contacts</i>
                    <span>Inline Profile</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="#" tabindex="-1">
                    <i class="material-icons">person_pin</i>
                    <span>Top Profile</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

        </ul>
    </li>

    <!---->
    <li class="">
        <!---->
        <a class="ripplelink" href="#">
            <i class="material-icons">list</i>
            <span>Components</span><span class="ink ripple-animate" style="height: 158.156px; width: 158.156px; top: -52.0705px; left: -21.0549px; pointer-events: none;"></span>
            <!----><i class="material-icons">keyboard_arrow_down</i>
        </a>

        <!---->
        <!---->
        <ul class="" style="height: 0px;">
            <!---->
            <!---->
            <li>
                <!---->

                <!---->
                <a class="ripplelink" routerlinkactive="active-menuitem-routerlink" href="#/sample" tabindex="-1">
                    <i class="material-icons">desktop_mac</i>
                    <span>Sample Page</span>
                    <!---->
                </a>
                <!---->
            </li>

            <!---->
            <li>
                <!---->

                <!---->
                <a class="ripplelink" routerlinkactive="active-menuitem-routerlink" href="#/forms" tabindex="-1">
                    <i class="material-icons">input</i>
                    <span>Forms</span>
                    <!---->
                </a>
                <!---->
            </li>

            <!---->
            <li>
                <!---->

                <!---->
                <a class="ripplelink" routerlinkactive="active-menuitem-routerlink" href="#/data" tabindex="-1">
                    <i class="material-icons">grid_on</i>
                    <span>Data</span>
                    <!---->
                </a>
                <!---->
            </li>

            <!---->
            <li>
                <!---->

                <!---->
                <a class="ripplelink" routerlinkactive="active-menuitem-routerlink" href="#/panels" tabindex="-1">
                    <i class="material-icons">content_paste</i>
                    <span>Panels</span>
                    <!---->
                </a>
                <!---->
            </li>

            <!---->
            <li>
                <!---->

                <!---->
                <a class="ripplelink" routerlinkactive="active-menuitem-routerlink" href="#/overlays" tabindex="-1">
                    <i class="material-icons">content_copy</i>
                    <span>Overlays</span>
                    <!---->
                </a>
                <!---->
            </li>

            <!---->
            <li>
                <!---->

                <!---->
                <a class="ripplelink" routerlinkactive="active-menuitem-routerlink" href="#/menus" tabindex="-1">
                    <i class="material-icons">menu</i>
                    <span>Menus</span>
                    <!---->
                </a>
                <!---->
            </li>

            <!---->
            <li>
                <!---->

                <!---->
                <a class="ripplelink" routerlinkactive="active-menuitem-routerlink" href="#/messages" tabindex="-1">
                    <i class="material-icons">message</i>
                    <span>Messages</span>
                    <!---->
                </a>
                <!---->
            </li>

            <!---->
            <li>
                <!---->

                <!---->
                <a class="ripplelink" routerlinkactive="active-menuitem-routerlink" href="#/charts" tabindex="-1">
                    <i class="material-icons">insert_chart</i>
                    <span>Charts</span>
                    <!---->
                </a>
                <!---->
            </li>

            <!---->
            <li>
                <!---->

                <!---->
                <a class="ripplelink" routerlinkactive="active-menuitem-routerlink" href="#/file" tabindex="-1">
                    <i class="material-icons">attach_file</i>
                    <span>File</span>
                    <!---->
                </a>
                <!---->
            </li>

            <!---->
            <li>
                <!---->

                <!---->
                <a class="ripplelink" routerlinkactive="active-menuitem-routerlink" href="#/misc" tabindex="-1">
                    <i class="material-icons">toys</i>
                    <span>Misc</span>
                    <!---->
                </a>
                <!---->
            </li>

        </ul>
    </li>

    <!---->
    <li class="">
        <!---->
        <a class="ripplelink" href="#">
            <i class="material-icons">get_app</i>
            <span>Template Pages</span><span class="ink ripple-animate" style="height: 178.844px; width: 178.844px; top: -72.422px; left: -0.562625px; pointer-events: none;"></span>
            <!----><i class="material-icons">keyboard_arrow_down</i>
        </a>

        <!---->
        <!---->
        <ul class="" style="height: 0px;">
            <!---->
            <!---->
            <li>
                <!---->

                <!---->
                <a class="ripplelink" routerlinkactive="active-menuitem-routerlink" href="#/empty" tabindex="-1">
                    <i class="material-icons">hourglass_empty</i>
                    <span>Empty Page</span>
                    <!---->
                </a>
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="assets/pages/landing.html" target="_blank" tabindex="-1">
                    <i class="material-icons">flight_land</i>
                    <span>Landing Page</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="assets/pages/login.html" target="_blank" tabindex="-1">
                    <i class="material-icons">verified_user</i>
                    <span>Login Page</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="assets/pages/error.html" target="_blank" tabindex="-1">
                    <i class="material-icons">error</i>
                    <span>Error Page</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="assets/pages/404.html" target="_blank" tabindex="-1">
                    <i class="material-icons">error_outline</i>
                    <span>404 Page</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

            <!---->
            <li>
                <!---->
                <a class="ripplelink" href="assets/pages/access.html" target="_blank" tabindex="-1">
                    <i class="material-icons">security</i>
                    <span>Access Denied Page</span>
                    <!---->
                </a>

                <!---->
                <!---->
            </li>

        </ul>
    </li>

    <!---->
    <li class="active-menuitem">
        <!---->
        <a class="ripplelink" href="#">
            <i class="material-icons">menu</i>
            <span>Menu Hierarchy</span><span class="ink ripple-animate" style="height: 175.984px; width: 175.984px; top: -61.9845px; left: 33.0311px; pointer-events: none;"></span>
            <!----><i class="material-icons">keyboard_arrow_down</i>
        </a>

        <!---->
        <!---->
        <ul class="" style="">
            <!---->
            <!---->
            <li class="active-menuitem">
                <!---->
                <a class="ripplelink" href="#">
                    <i class="material-icons">subject</i>
                    <span>Submenu 1</span><span class="ink ripple-animate" style="height: 250px; width: 250px; top: -104px; left: 39.0156px; pointer-events: none;"></span>
                    <!----><i class="material-icons">keyboard_arrow_down</i>
                </a>

                <!---->
                <!---->
                <ul class="" style="">
                    <!---->
                    <!---->
                    <li>
                        <!---->
                        <a class="ripplelink" href="#">
                            <i class="material-icons">subject</i>
                            <span>Submenu 1.1</span>
                            <!----><i class="material-icons">keyboard_arrow_down</i>
                        </a>

                        <!---->
                        <!---->
                        <ul class="" style="height: 0px;">
                            <!---->
                            <!---->
                            <li>
                                <!---->
                                <a class="ripplelink" href="#" tabindex="-1">
                                    <i class="material-icons">subject</i>
                                    <span>Submenu 1.1.1</span>
                                    <!---->
                                </a>

                                <!---->
                                <!---->
                            </li>

                            <!---->
                            <li>
                                <!---->
                                <a class="ripplelink" href="#" tabindex="-1">
                                    <i class="material-icons">subject</i>
                                    <span>Submenu 1.1.2</span>
                                    <!---->
                                </a>

                                <!---->
                                <!---->
                            </li>

                            <!---->
                            <li>
                                <!---->
                                <a class="ripplelink" href="#" tabindex="-1">
                                    <i class="material-icons">subject</i>
                                    <span>Submenu 1.1.3</span>
                                    <!---->
                                </a>

                                <!---->
                                <!---->
                            </li>

                        </ul>
                    </li>

                    <!---->
                    <li>
                        <!---->
                        <a class="ripplelink" href="#">
                            <i class="material-icons">subject</i>
                            <span>Submenu 1.2</span>
                            <!----><i class="material-icons">keyboard_arrow_down</i>
                        </a>

                        <!---->
                        <!---->
                        <ul class="" style="height: 0px;">
                            <!---->
                            <!---->
                            <li>
                                <!---->
                                <a class="ripplelink" href="#" tabindex="-1">
                                    <i class="material-icons">subject</i>
                                    <span>Submenu 1.2.1</span>
                                    <!---->
                                </a>

                                <!---->
                                <!---->
                            </li>

                            <!---->
                            <li>
                                <!---->
                                <a class="ripplelink" href="#" tabindex="-1">
                                    <i class="material-icons">subject</i>
                                    <span>Submenu 1.2.2</span>
                                    <!---->
                                </a>

                                <!---->
                                <!---->
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>

            <!---->
            <li class="">
                <!---->
                <a class="ripplelink" href="#">
                    <i class="material-icons">subject</i>
                    <span>Submenu 2</span><span class="ink ripple-animate" style="height: 250px; width: 250px; top: -121.688px; left: -23.9844px; pointer-events: none;"></span>
                    <!----><i class="material-icons">keyboard_arrow_down</i>
                </a>

                <!---->
                <!---->
                <ul class="" style="height: 0px;">
                    <!---->
                    <!---->
                    <li>
                        <!---->
                        <a class="ripplelink" href="#" tabindex="-1">
                            <i class="material-icons">subject</i>
                            <span>Submenu 2.1</span>
                            <!----><i class="material-icons">keyboard_arrow_down</i>
                        </a>

                        <!---->
                        <!---->
                        <ul class="" style="height: 0px;">
                            <!---->
                            <!---->
                            <li>
                                <!---->
                                <a class="ripplelink" href="#" tabindex="-1">
                                    <i class="material-icons">subject</i>
                                    <span>Submenu 2.1.1</span>
                                    <!---->
                                </a>

                                <!---->
                                <!---->
                            </li>

                            <!---->
                            <li>
                                <!---->
                                <a class="ripplelink" href="#" tabindex="-1">
                                    <i class="material-icons">subject</i>
                                    <span>Submenu 2.1.2</span>
                                    <!---->
                                </a>

                                <!---->
                                <!---->
                            </li>

                            <!---->
                            <li>
                                <!---->
                                <a class="ripplelink" href="#" tabindex="-1">
                                    <i class="material-icons">subject</i>
                                    <span>Submenu 2.1.3</span>
                                    <!---->
                                </a>

                                <!---->
                                <!---->
                            </li>

                        </ul>
                    </li>

                    <!---->
                    <li>
                        <!---->
                        <a class="ripplelink" href="#" tabindex="-1">
                            <i class="material-icons">subject</i>
                            <span>Submenu 2.2</span>
                            <!----><i class="material-icons">keyboard_arrow_down</i>
                        </a>

                        <!---->
                        <!---->
                        <ul class="" style="height: 0px;">
                            <!---->
                            <!---->
                            <li>
                                <!---->
                                <a class="ripplelink" href="#" tabindex="-1">
                                    <i class="material-icons">subject</i>
                                    <span>Submenu 2.2.1</span>
                                    <!---->
                                </a>

                                <!---->
                                <!---->
                            </li>

                            <!---->
                            <li>
                                <!---->
                                <a class="ripplelink" href="#" tabindex="-1">
                                    <i class="material-icons">subject</i>
                                    <span>Submenu 2.2.2</span>
                                    <!---->
                                </a>

                                <!---->
                                <!---->
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>

        </ul>
    </li>

    <!---->
    <li>
        <!---->

        <!---->
        <a class="ripplelink active-menuitem-routerlink" routerlinkactive="active-menuitem-routerlink" href="#/utils">
            <i class="material-icons">build</i>
            <span>Utils</span><span class="ink ripple-animate" style="height: 90.6406px; width: 90.6406px; top: -18.3125px; left: -37.2813px; pointer-events: none;"></span>
            <!---->
        </a>
        <!---->
    </li>

    <!---->
    <li>
        <!---->

        <!---->
        <a class="ripplelink" routerlinkactive="active-menuitem-routerlink" href="#/documentation">
            <i class="material-icons">find_in_page</i>
            <span>Documentation</span><span class="ink ripple-animate" style="height: 158.469px; width: 158.469px; top: -58.2345px; left: -43.8439px; pointer-events: none;"></span>
            <!---->
        </a>
        <!---->
    </li>

</ul>